<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Login</title>
</head>
<body>
<div th:if="${param.error}">
    Usuario o contraseña introducidos son erroneos.
</div>
<div th:if="${param.logout}">
    Te has desconectado.
</div>
<form th:action="@{/login}" method="post">
    <div><label> Nombre de usuario : <input type="text" name="username"/> </label></div>
    <div><label> Contraseña: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Entrar"/></div>
</form>
</body>
</html>