.row {
    margin: 30px;
}

.display-4 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 90px;

}

.display-5 {
    font-family: 'Lobster', cursive;
    font-size: 1.22rem;
    font-weight: 300;
    line-height: 60px;

}

.navbar {
    font-size: small;
    text-transform: uppercase;
    height: 30px;
}


.jumbotron {
    padding: 6rem 6rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(#343a40, white);

}

.body{
    background-color: lightgray;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

#h2 {
    align-items:center;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    background-color: dimgrey;
}

